:root {
  --dark: #2c2c2c;
  --grey: #acaaaa;
  --light: #ddd;
  --high-light: #eee;
  --red: #e04522;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: var(--dark);
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}
* a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 90vw;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
}
.col-6 {
  width: 50%;
  padding: 15px;
}

* section {
  padding: 10rem 0;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

/* HEADER */
header {
  height: 100%;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #eeeeeece;
  backdrop-filter: blur(5px);
  box-shadow: 5px 0 5px #2c2c2cb4;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo a {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--red);
}

nav .nav-list {
  display: flex;
}

nav .nav-list li:not(:last-child) {
  padding-right: 20px;
}

.nav-list > li > a:hover {
  color: var(--red);
}

/* HERO */
.btn {
  padding: 1rem 1.5rem;
  border: 2px solid var(--red);
  color: var(--red);
  background-color: transparent;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--red);
  color: var(--light);
  overflow: hiden;
}
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-image: url(/img/background.jpg); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/background-1.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}
.heading {
  color: #fff;
  width: 50%;
  margin: 0 auto;
}
.heading > * {
  margin-bottom: 3rem;
}
/* .heading h1 {
  font-size: 4rem;
} */
.heading p {
  text-transform: uppercase;
}
.btn-group > * {
  margin: 1rem;
}

/* ABOUT ME */
.container-about {
  display: flex;
  flex-wrap: wrap;
}

.about-img img {
  width: 80%;
  height: auto;
}
.about-me .content {
  display: flex;
  align-items: center;
}

.about-me .content::after {
  content: '';
  /* display: block; */
  width: 2rem;
  height: 100%;
  background-color: var(--red);
}
.about-me .content .subheading {
  font-size: 0.6em;
}
.about-me .content p {
  padding-bottom: 3rem;
  width: 60%;
}
.about-me .content div p:first-child {
  padding-bottom: 2rem;
}

/* SERVICE */
.service {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--high-light);
}
.service h2 {
  padding-bottom: 4rem;
}
.feature-container {
  display: flex;
  justify-content: space-around;
}
.feature {
  width: 25%;
}
.feature img {
  width: 40px;
}
.feature h3 {
  padding: 2rem 0;
}

/* PORTFOLIO */
.portfolio {
  background-color: var(--dark);
}
.port-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
}

.port-grid figure {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.port-grid figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  /* transform: translate(-50%, -50%); */
  font-size: 2rem;
  padding: 1rem;
  /* margin: 0 auto; */
  color: var(--light);
  background-color: #dddddd37;
  transition: all 0.3s;
}
.img img {
  width: 100%;
}
.port-grid figure:hover figcaption {
  top: 50%;
}
